body {
    background: black url("../images/sunrise.jpg") no-repeat;
    background-size: cover;
}

td {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
}

img {
    max-width:36px;
    max-height:22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donate {
    margin: 5px;
    font-size: 15px;
    background-color: red;
    border: 1px solid black;
}
