<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/stlye.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<ul>
    <li class="link"><a href="">Information</a></li>
</ul>

<div>
    <img src="/images/greenfoxlogo.png"/>
</div>

<p>
    This is Mr.Fox. Currently living on pizza and lemonade. He knows 2 tricks.
</p>

<h1>
    Known tricks
</h1>

<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>

</body>
</html>
